# Binaries for programs and plugins
main
untitled19
*.exe
*.exe~
*.so
*.dylib
*.dll

# Ignore binary output folders
bin/

# Ignore common editor/system specific metadata
.DS_Store
.idea/
.vscode/
.vs/
*.iml

Windows.Win32.winmd
win32/
vls.log
out/